AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_REGION=eu-central-1

STAGE=dev

INSTANCE_IDS=

STOP_INSTANCE_CRON=cron(0 20 * * ? *)
START_INSTANCE_CRON_1=cron(0 7 ? * MON-FRI *)
START_INSTANCE_CRON_2=cron(0 9 ? * SAT-SUN *)

TELEGRAM_BOT_TOKEN=
ENDPOINT=
